div.List
    .formToNew,
    .formToSearch
        display: flex
        flex-direction: column
        .formToNewInput,
        .formToSearchInput
            margin 10px auto
            width: 50%
            border-radius: 20px
            padding: 10px
            outline: none
        .addContactModal,
        .formToNewButton,
        .formToSearchButton
            outline none
            border 0
            border-radius 10px
            padding 5px 10px
            font-size 20px
            text-transform: uppercase
            cursor pointer
            margin 10px auto
            width: 50%
    .singleContact
        border: 1px solid green
        list-style none
        position relative
        .avatarPlaceholder
            position relative
            float left
            .avatar
                height 70px
            
