@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i');

div.List
    .addContact
        display: block
        outline none
        border 0
        border-radius 10px
        padding 5px 10px
        font-size 20px
        text-transform: uppercase
        cursor pointer
        margin 0 auto
        width: 50%
        transition: .8s
        &.close
            display none
            transition: .8s
    .formToNew
        display: none
        transition: .8s
        &.open
            display flex
            flex-direction: column
            transition: .8s
        .formErrors
            color #ba0000
            font-family: Roboto
        .formToNewInput
            margin 10px auto
            width: 50%
            border-radius: 20px
            padding: 10px
            outline: none
        .formToNewButton
            outline none
            border 0
            border-radius 10px
            padding 5px 10px
            font-size 20px
            text-transform: uppercase
            cursor pointer
            margin 10px auto
            width: 50%
    .formToSearch
        display: flex
        flex-direction: column
        .formToNewInput,
        .formToSearchInput
            margin 10px auto
            width: 50%
            border-radius: 20px
            padding: 10px
            outline: none
        .addContactModal,
        .formToNewButton,
        .formToSearchButton
            outline none
            border 0
            border-radius 10px
            padding 5px 10px
            font-size 20px
            text-transform: uppercase
            cursor pointer
            margin 10px auto
            width: 50%
    .singleContact
        border: 1px solid green
        list-style none
        position relative        
        overflow hidden
        .avatarPlaceholder
            position relative
            float left
            vertical-align: middle
            .avatar
                height 80px
                margin-top 5px
        .delButton
            position: absolute
            height 30px
            top 0
            right 0
            text-transform: uppercase
            color: #ba0000
            font-weight: bold
            background-color: transparent
            border none 
            cursor pointer
            font-family: Roboto
        .editButton
            position: absolute
            height 30px
            bottom 0
            right 0
            text-transform: uppercase
            color: #ba0000
            font-weight: bold
            background-color: transparent
            border none 
            cursor pointer
            font-family: Roboto
            &.close
                display none
                transition: .8s
        .singleString
            font-family: Alegreya
    .formToEdit
        display: none
        transition: .8s
        &.open
            display flex
            flex-direction: column
            transition: .8s
            align-items left
        .formErrors
            color #ba0000
            font-family: Roboto
        .formToEditInput
            margin 10px 0
            width: 50%
            border-radius: 20px
            padding: 10px
            outline: none
        .formToEditButton
            outline none
            border 0
            border-radius 10px
            padding 5px 10px
            font-size 20px
            text-transform: uppercase
            cursor pointer
            margin 10px
            width: 50%
    