@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i');

div.List
    .formToNew,
    .formToSearch
        display: flex
        flex-direction: column
        .formToNewInput,
        .formToSearchInput
            margin 10px auto
            width: 50%
            border-radius: 20px
            padding: 10px
            outline: none
        .addContactModal,
        .formToNewButton,
        .formToSearchButton
            outline none
            border 0
            border-radius 10px
            padding 5px 10px
            font-size 20px
            text-transform: uppercase
            cursor pointer
            margin 10px auto
            width: 50%
    .singleContact
        border: 1px solid green
        list-style none
        position relative        
        overflow hidden
        .avatarPlaceholder
            position relative
            float left
            vertical-align: middle
            .avatar
                height 80px
                margin-top 5px
        .delButton
            position: absolute
            height 30px
            top 0
            right 0
            text-transform: uppercase
            color: #ba0000
            font-weight: bold
            background-color: transparent
            border none 
            cursor pointer
            font-family: Roboto
        .singleString
            font-family: Alegreya
            
