@import url("https://fonts.googleapis.com/css?family=Alegreya:400,400i");
div.List .addContact {
  display: block;
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  width: 50%;
  transition: 0.8s;
}
div.List .addContact.close {
  display: none;
  transition: 0.8s;
}
div.List .formToNew {
  display: none;
  transition: 0.8s;
}
div.List .formToNew.open {
  display: flex;
  flex-direction: column;
  transition: 0.8s;
}
div.List .formToNew .formToNewInput {
  margin: 10px auto;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}
div.List .formToNew .formToNewButton {
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px auto;
  width: 50%;
}
div.List .formToSearch {
  display: flex;
  flex-direction: column;
}
div.List .formToSearch .formToNewInput,
div.List .formToSearch .formToSearchInput {
  margin: 10px auto;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}
div.List .formToSearch .addContactModal,
div.List .formToSearch .formToNewButton,
div.List .formToSearch .formToSearchButton {
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px auto;
  width: 50%;
}
div.List .singleContact {
  border: 1px solid #008000;
  list-style: none;
  position: relative;
  overflow: hidden;
}
div.List .singleContact .avatarPlaceholder {
  position: relative;
  float: left;
  vertical-align: middle;
}
div.List .singleContact .avatarPlaceholder .avatar {
  height: 80px;
  margin-top: 5px;
}
div.List .singleContact .delButton {
  position: absolute;
  height: 30px;
  top: 0;
  right: 0;
  text-transform: uppercase;
  color: #ba0000;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: Roboto;
}
div.List .singleContact .singleString {
  font-family: Alegreya;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
body {
  margin: 0;
  position: relative;
  background-color: #a8c9ff;
}
body div.App {
  margin: 0 auto;
  background-color: #fff;
  width: 80vw;
  height: 100vh;
  padding: 10px 30px;
  box-sizing: border-box;
}
