.createContact {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.createContact.open {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}
.createContact .wrapper {
  width: 300px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}
.createContact .wrapper input,
.createContact .wrapper button {
  margin: 10px 0;
}
.createContact .wrapper .closeModal {
  cursor: pointer;
  font-size: 30px;
  transform: rotate(45deg);
  color: #f49898;
  outline: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: transparent;
}
div.List .formToNew,
div.List .formToSearch {
  display: flex;
  flex-direction: column;
}
div.List .formToNew .formToNewInput,
div.List .formToSearch .formToNewInput,
div.List .formToNew .formToSearchInput,
div.List .formToSearch .formToSearchInput {
  margin: 10px auto;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}
div.List .formToNew .addContactModal,
div.List .formToSearch .addContactModal,
div.List .formToNew .formToNewButton,
div.List .formToSearch .formToNewButton,
div.List .formToNew .formToSearchButton,
div.List .formToSearch .formToSearchButton {
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px auto;
  width: 50%;
}
div.List .singleContact {
  border: 1px solid #008000;
  list-style: none;
  position: relative;
}
div.List .singleContact .avatarPlaceholder {
  position: relative;
  float: left;
}
div.List .singleContact .avatarPlaceholder .avatar {
  height: 70px;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
body {
  margin: 0;
  position: relative;
  background-color: #a8c9ff;
}
body div.App {
  margin: 0 auto;
  background-color: #fff;
  width: 80vw;
  height: 100vh;
  padding: 10px 30px;
  box-sizing: border-box;
}
