body
    margin: 0
    position relative
    background-color #a8c9ff
    div.App
        margin 0 auto
        background-color: #ffffff
        width: 80vw
        height 100vh
        padding 10px 30px
        .addContactModal
            outline none
            border 0
            border-radius 10px
            padding 5px 10px
            font-size 20px
            text-transform: uppercase
            cursor pointer